# Ignore node_modules and build folders
node_modules/
client/node_modules/
server/node_modules/
client/dist/
server/dist/

# Ignore env files
.env
client/.env
server/.env

# System / editor files
.vscode/
.DS_Store
